# Ignore the .streamlit folder where secrets are stored
.streamlit/secrets.toml

# Ignore any .env files
.env

# Ignore compiled Python files
__pycache__/
*.py[cod]

# Ignore all .log files
*.log

